.sub {
    font-family: Arial, Helvetica, sans-serif;
}
.sub-site {
    padding-left: 30px;
}

.sub-site-h1 {
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
}

.sub-site ul {
    padding-bottom: 15px;
}

.sub-site h3 {
    font-size: 18px;
}

.sub-site li {
    padding-bottom: 3px;
}

.mail ul {
    text-align: center;  

}

.mail li {
    display: inline-block;
    padding: 15px 30px;
}