.website {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

html, body{
    margin: 0%;
}

.front-page-container{
    background-color: gray;
}

.website-h1 {
    font-size: 40px;
    text-align: left;
}

.web-body {
    background-color: #ffffff;
    max-width: 800px;
    padding: 20px;
    padding-top: 2px;
    text-align: left;
    width: 70%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .web-body {
        width: 100%;
        padding: 0;
    }
}

.web-author {
    font-size: 10px;
    color: rgb(201, 149, 53);
}

#author_text {
padding-left: 12%;
padding-top: 1%;
}

.NavbarMainpage {
    background-color: #090303;
    overflow: hidden;
    width: 100%;
  }

.NavbarMainpage a:hover {
    color: rgb(204, 105, 5);
  }
  .NavbarMainpage a {
    float: right;
    color: #68bb41;
    text-align: left;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 15px;
  }

#logo {
    width: 100px;
    height: 30px;
    margin: 10px;
  }

#author{
    width: 80px;
    float: left;
}

#Tigerbilde{
    width: 90%;
    padding-left: 5%;
}


.sub-site {
    font-family: Arial, Helvetica, sans-serif;
    
}

.sub-site h1 {
    padding-left: 2%;
    padding-bottom: 15px;
}

.sub-site main{
    padding-left: 30px;
}

.sub-site ul {
    padding-bottom: 15px;
}

.sub-site h3 {
    font-size: 18px;
}

.sub-site li {
    padding-bottom: 3px;
}

.sub-site .email-list ul {
    text-align: center;  
    background-color: rgb(252, 148, 3);
    padding-top: 50px;
}

.sub-site .email-list li {
    display: inline-block;
    padding: 15px 30px;
    margin-bottom: 30px;
}

.sub-site body{
    margin: 0;
    padding: 0;
}
.sub-site header {
    padding: 0;
    margin: 0;
}

.website .ul {
    text-align: center;  
}

.website li {
    display: inline-block;
    padding: 15px 30px;
}

.navbar .ul{    
    list-style: none;  
}

.website {
    font-family: Arial, Helvetica, sans-serif;
}


.web-author {
    font-size: 10px;
}

.sub-site nav{
    text-align: right;
    padding: 0;  
    background-color:	rgb(252, 148, 3);
    overflow: hidden;
    text-align: right;
    padding: 15px 75px 0px 0px;
}

.navbar-button {
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    background-color: #ffffff;
    color: black;
    border: black 2px solid;
    text-decoration: none;
}

.navbar-button:hover {
    background-color: #c3c2c2
}

.website .footer ul {
    text-align: center;  
}

.website .footer li {
    display: inline-block;
    padding: 15px 30px;
}


.navbar li {
    display: inline-block;
    padding: 15px 30px;
    cursor: pointer;
    }
    .navbar-list-left{
    text-align: left;
    float: left;
    font-size: 18;
    font-weight: bolder;
    }
    
    .navbar-list-right{
    text-align: right;
    float:right;
    font-weight: bold;
    }
    .navbar-list-right li:hover{
        text-decoration: underline;
    }

    .navbar-list-right a{
        color: black;
        text-decoration: none;
    }

    #ScreenshotPage1{
        min-width: 500px;
    }

    #ScreenshotPage2{
        min-width: 500px;
    }